<launch>

  <arg name="fixed" default="false"/>
  <arg name="robot_ns" default="/"/>
  <arg name="model_name" default="leo"/>

  <include file="$(find bot_gazebo)/launch/gazebo/spawn_model.launch"
           pass_all_args="true"/>

  <include file="$(find bot_gazebo)/launch/gazebo/spawn_controllers.launch">
    <arg name="robot_ns" value="$(arg robot_ns)"/>
  </include>

</launch>
